aside {
    width:40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: insert 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
}

p,
li {
    font: 1rem 'Fira Sans', sans-serif;
}

p{
    font weight: bold;
}

.flex-container {
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}


















